.workouts-section {

  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100dvh;

  h1 {
    color: #000; /* Pantone text color */
    font-size: 24px;
    margin-bottom: 16px;
  }
  p {
    font-size: 14px;
  }

  .workouts-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }

  .workouts-list {
    flex: 1; /* Allow list to grow */
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    min-height: auto;
    width: 100%;

    .workout-item {
      flex: 0 0 100px; /* Fixed height for each workout */
      border: 1px solid #ccc; /* Light border */
      border-radius: 5px;
      padding: 10px;
      background-color: #fff;

      .exercise-item{
          align-items: baseline;
          display: grid;
      }
    }
  }

  .create-workout-btn{
    background-color: #0056b3;
    color: white;
  }
  .workouts-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #000 1px solid;
    h1 {
      margin: 0;
    }
  }

  .workout-actions{
    display: flex;
    flex-direction: column;
  }
  .exercises-container{
    width: auto;
  }
  .sets-list {
    display: flex;
    flex-direction: column;
    width: 100%;

  }
}
