.current-exercise {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 10px;
  h2{
    font-size: 24px;
  }

  &_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &_inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_input {
    min-height: 32px;
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  button {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0;
    min-height: 32px;
  }
}

