.user-exercises-container{
  margin: 5px;

  .user-exercise-table-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 8px 0;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    margin: 8px;
  }

  .user-exercise-table-summary{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }


  h2 {
    font-size: 18px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
  }

  .exercise-item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  align-content: center;

  :hover{
    transform: none !important;
  }

  .exercise-header{
    width: 100%;
    display: flex;
    flex-direction: column;

    .header-top-row {
      display: flex;
      justify-content: space-between;
      align-items: start;
      width: 100%;

      .p {
        text-align: left;
      }

      :nth-child(2) {
        text-align: right;
      }

      :nth-child(3) {
        text-align: right;
      }


      .exercise-name {
        font-size: 16px;
        font-weight: 600;
        color: #333;
      }

      .exercise-mini-summary {
        display: flex;
        gap: 10px;
        min-width: 100px;
        justify-content: right;
        &:has(.exercise-sets:nth-child(2)) {
          justify-content: space-between;
        }
        > *:only-child {
         justify-content: right;
        }



        .exercise-sets {
          display: block;
          min-width: 20px;
          font-size: 16px;
          color: #666;
          font-weight: 500;

        }
      }
    }
    .user-exercise-comment {
      width: 100%;
      font-size: 14px;
      color: #555;
      padding-left: 2px;
    }

  }
  .exercise-name{
    align-self: start;
  }
  }
}
