.user-exercises-container{
  h2 {
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
  }

  .exercise-item{
  display: flex;

  flex-direction: row;
  align-items: baseline;


    .exercise-name, p {
      font-size: 14px;
    }
  }
}
