.footer {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}
