/* Working Panel */
.working-panel {
  background-color: #fff;
  overflow: auto; /* Enables scrolling if content overflows */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 16px; /* Optional: Space between children */
  width: 100%;
  height: 100vh;
  .widgets {
  display: flex;
  flex-direction: column; // или row, если в ряд
  gap: 16px; // отступ между виджетами
  margin-bottom: 24px;

}

.floating-widget {
  width: 100%;
  max-width: 600px;
}
}




