.workout-exercise {
    td {
        padding: 10px;
        text-align: center;
        vertical-align: middle;
    }

    /* Flexbox for aligning items inside table cells */
    .exercise-actions {
        display: flex;
        justify-content: center;
        gap: 10px;

        .icon-btn {
            background: none;
            border: none;
            cursor: pointer;
            padding: 5px;
            font-size: 18px;
            transition: color 0.3s ease;

            &:hover {
                color: #2c7c8f;
            }
        }

        .save-btn {
            color: green;
        }

        .cancel-btn {
            color: orange;
        }

        .edit-btn {
            color: #344b5a;
        }

        .delete-btn {
            color: #344b5a;
        }
    }
    .edit-input {
        width: 100%;
        padding: 5px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
}
